body{
    background-color: #edeff2
}
.currency{
    background-color: white;
    margin-bottom: 25px;
    margin-left: 200px;
    margin-right: 200px;
    height: 130px;
    border-radius: 25px;
    border-radius: 25px;
    padding-bottom: 69px;
}
h3{
    margin-bottom: 35px;
    margin-top: 30px;
    text-align: center;
}
*{
    font-family: arial;
}
.cities{
    text-align: center;
    padding-top: 30px;
    font-style: italic;
}
p{
    text-align: center;
}
.cities{
    margin-bottom: 22px;
}
#d1, #d2, #d3{
    margin-bottom: 19px;
}
.containers{
    background-color: white;
    margin-bottom: 25px;
    margin-left: 200px;
    margin-right: 200px;
    height: 130px;
    border-radius: 25px;
}
.enter{
    display: block;
    margin-bottom: 12px;
}
.cButton{
    display: block;
    

}
#input1, #input2, #input3, #input4, #input5{
    margin-bottom: 12px;
}
#value1, #value2, #value3, #value4, #value5{
    color: green;
    font-weight: bold;
    margin-top: 12px;
    font-size: 13px;
    
}